*.o
INSTALL
Doxyfile
Makefile.in
Makefile
configure
config.*
setup.sh
missing
aclocal.m4
autom4te.cache
config.sub
depcomp
stamp-h1
install-sh
libtool
ltmain.sh
compile
m4
*/*.o
*/*.lo
*/*.la
*/.deps
*/.dirstamp
*/.libs
