*.o
*~
INSTALL
Doxyfile
Makefile.in
Makefile
configure
config.*
setup.sh
missing
aclocal.m4
autom4te.cache
config.sub
depcomp
stamp-h1
install-sh
libtool
ltmain.sh
compile
m4
*/*.o
*/*.lo
*/*.la
*/.deps
*/.dirstamp
*/.libs
DrawTool/brRootObjDict.cc
DrawTool/brRootObjDict_rdict.pcm
DrawTool/drawTool
ErrorCalc/testERR
ErrorCalc/testRealFunc
ExpData/A1_A1h.xml
ExpData/E866_PRD64_052002_pdf_ratio.xml
ExpData/changeDataNorm
ExpData/e866
ExpData/expManip
ExpData/g1.xml
ExpData/hermesMultiplicities
ExpData/loadTest
ExpData/mkExpData
ExpData/seaQuestPseudoData
ExpData/table_A1
ExpData/table_A1h
ExpData/table_Kpm
ExpData/table_Multi
ExpData/table_Multi_K
ExpData/table_P
ExpData/table_PI0
ExpData/table_PIpm
ExpData/table_Xsec
ExpData/table_fragXsec
ExpData/table_g1
ExpData/table_hpm
ExpData/table_kretzer
Fitting/A1hScale
Fitting/MultiFragScale
Fitting/fitA1h
Fitting/fitA1hLM
Fitting/fitMultiFrag
Fitting/fitMultiFragLM
Fitting/fitMultiFrag_A1hLM
Fitting/fitUDratio
Fitting/testA1hFit
Fitting/testA1hFitLM
Fitting/testMultiFragFit
Fitting/testMultiFragFitLM
Fitting/testMultiFrag_A1hFitLM
FragXsec_T/testCharge
FragXsec_T/testInversion
FragXsec_T/testXsec
FragXsec_T/testXsec_comp
Fragmentation/diff
Fragmentation/hadron
Fragmentation/main
Fragmentation/printFF
Fragmentation/testFFSimple
IntegFragXsec/testXsec
IntegPolDIS/testG1
IntegPolDrellYan/testPDY
IntegPolSIDIS/checkPartialInteg
IntegPolSIDIS/testG1h
IntegPolSIDIS/testG1h_xz
IntegPolVBoson/testPVB
IntegSPolVBoson/testSPVB
IntegUnpolDIS/main
IntegUnpolDIS/testF1
IntegUnpolDrellYan/testUDY
IntegUnpolSIDIS/checkPartialInteg
IntegUnpolSIDIS/testF1h
IntegUnpolSIDIS/testF1h_xz
IntegUnpolVBoson/testUVB
PDFLIB/hkns
PDFSET/gs15
QCD/alpha
QCD/main
QCD/pdfManip
QCD/testPdfBase
README
StrFncParam/main
Tranform/cbeta
Tranform/checkPartialInteg
Tranform/confluent
Tranform/doubleInversion
Tranform/gamma
Tranform/hyperGeom
Tranform/lagQuad
Tranform/laguerre
Tranform/li2
Tranform/matrix
Tranform/mcint
Tranform/minimum
Tranform/polygamma
Tranform/polyint
Tranform/polylog
Tranform/pvalue
Tranform/runge
Tranform/sfunc
Tranform/zeta
Utility/testArguments
Utility/testConfig
Utility/testThread
browser/Xsecplot
browser/brRootObjDict.cc
browser/brRootObjDict_rdict.pcm
browser/contour
browser/dist_plot
browser/hkns07
browser/main
browser/main_exp
browser/main_imazu
browser/mellin
browser/mrst2001
browser/mstw2008
browser/parprint
browser/polPDFscale
browser/readExp
browser/residual
browser/residual_dist
browser/residual_scale
browser/testMxManip
browser/testSPVB
browser/viewA1Exp
browser/viewA1_h
browser/viewA1_h_M
browser/viewEmcMulti
browser/viewExpData
browser/viewFF
browser/viewFFq
browser/viewMulti
browser/viewPDF
browser/viewXsec
doc/expdata.html
doc/header.html
doc/mellin.css
plotter/LMmanip
plotter/VBPplot
plotter/chi2_plot
plotter/correlation
plotter/error_MX_hist
plotter/example
plotter/multiPanel
plotter/multiPanelHERMES
plotter/multiSummary
plotter/plotDST
plotter/plotXS
plotter/scale_plotDST
plotter/view_HERMES
plotter/view_emc
polDIS/interpolation
polDIS/testG1
polDIS/testG1_imazu
polFrag/main
polPDF/main
polSIDIS/diff
polSIDIS/testG1h
polSIDIS/testG1h_imazu
polSIDIS/testPDF
script/fitting.sh
script/mellin-conf.sh
unpolDIS/main
unpolDIS/testF1
unpolDIS/testF1_imazu
unpolDISXsec/main
unpolDISXsec/testF1
unpolPDF/BS15.cc
unpolPDF/BS15.pdf
unpolPDF/BS15.png
unpolPDF/BS15_1.dat
unpolPDF/BS15_100.dat
unpolPDF/BS15_29.dat
unpolPDF/GS15.cc
unpolPDF/GS15.dat
unpolPDF/GS15.pdf
unpolPDF/GS15.png
unpolPDF/MSTW2008_1.dat
unpolPDF/MSTW2008_100.dat
unpolPDF/MSTW2008_29.dat
unpolPDF/dbar_ubar
unpolPDF/main
unpolPDF/testCteq6
unpolSIDIS/hadron
unpolSIDIS/main
unpolSIDIS/testF1h
unpolSIDIS/testF1h_imazu
unpolSIDISXsec/main
unpolSIDISXsec/testF1h
unpolSIDISXsec/testHERMESKIN
unpolSIDISXsec/testSub

